@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main[data-theme="light"],
  header[data-theme="light"] {
    --Element: #ffffff;
    --Background: #fafafa;
    --Text: #121517;
    --Input: #858585;
  }
  main[data-theme="dark"],
  header[data-theme="dark"] {
    --Element: #2b3945;
    --Background: #212d38;
    --Text: #ffffff;
    --Input: #858585;
  }
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 300;
  src: url("./assets/fonts/NunitoSans-Light.ttf");
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 400;
  src: url("./assets/fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "NunitoSans";
  font-weight: 700;
  src: url("./assets/fonts/NunitoSans-Bold.ttf");
}
